<div class="vimeo-responsive {{ if .Get "portrait" }}portrait{{ end }}" style="margin: 2rem 0;">
  <iframe src="https://player.vimeo.com/video/{{ .Get 0 }}{{ with .Get "id" }}{{ . }}{{ end }}?responsive=1"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen>
  </iframe>
</div>

<style>
.vimeo-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 1067px;
  margin: 2rem auto;
}

.vimeo-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vimeo-responsive.portrait {
  padding-bottom: 177.78%; /* 9:16 */
  max-width: 450px;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .vimeo-responsive.portrait {
    max-width: 90%;
  }
}
</style>
